[Unit]
Description=VC3 Master

[Service]
User=vc3
ExecStart=/usr/bin/vc3-master --conf /etc/vc3/vc3-master.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
